<!--<section class="main-container">

  <article class="">
    <div class="d-flex row">
      <div class="d-flex col-lg-4 col-xs-12 align-items-center">
        <div class="d-flex fixed-xs-top">
          <div class="d-flex">
            <img src="/assets/svg/user-group-solid.svg" alt="user-group" class="icon">
            <span class="pd-left-6 fn-14 ylw">76</span>
          </div>
          <div class="pd-left-16 d-flex">
            <img src="/assets/svg/server.svg" alt="user-group" class="icon">
            <span class="pd-left-6 fn-14 ylw">8000</span>
          </div>
        </div>

        &lt;!&ndash;<div style="padding-top: 30px">
          <div class="label ter">Connected: {{walletConnected}}</div>
          <div class="label ter">Wallet Address:{{walletAddress}}</div>
        </div>&ndash;&gt;

        <div class="show-on-mobile burger-icon">
          <img class="icon i24 pointer" *ngIf="!displayPopUp" src="/assets/svg/bars-solid.svg" (click)="displayMenu()">
          <img class="icon i24 pointer" *ngIf="displayPopUp" src="/assets/svg/close.svg" (click)="displayMenu()">
        </div>
      </div>
      <div class="col-lg-4 text-center hide-on-small">
        <img class="la-logo" src="/assets/img/logo.png" alt="">
      </div>


      <div class="col-lg-4 d-flex justify-content-end hide-on-small">
        <div class="d-flex align-items-center">
          <div>
            <img class="icon i24 pointer" src="/assets/svg/twitter-brands.svg" (click)="openSocialLink('twitter')">
          </div>
          <div class="pd-left-20">
            <img class="icon i24 pointer" src="/assets/svg/discord-brands.svg" (click)="openSocialLink('discord')">
          </div>
          <div class="pd-left-20">
            <img class="icon i24 pointer" src="/assets/svg/telegram-brands.svg" (click)="openSocialLink('telegram')">
          </div>
          <div class="pd-left-20">
            <img class="icon i24 pointer" src="/assets/svg/medium-brands.svg" (click)="openSocialLink('medium')">
          </div>
          <div class="pd-left-20">
            <img class="icon i24 pointer" src="/assets/svg/github-brands.svg" (click)="openSocialLink('github')">
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="col-12 flex-row-center outer-container" *ngIf="displayPopUp" (click)="outSide()">
    <div class="pop-up-container">
      <div class="social-link mr-top-32 mr-bottom-32" (click)="openSocialLink('twitter')">Twitter</div>
      <div class="social-link mr-bottom-32" (click)="openSocialLink('discord')">discord</div>
      <div class="social-link mr-bottom-32" (click)="openSocialLink('telegram')">telegram</div>
      <div class="social-link mr-bottom-32" (click)="openSocialLink('medium')">medium</div>
      <div class="social-link mr-bottom-32" (click)="openSocialLink('github')">github</div>
    </div>

  </div>

  <div class="show-on-mobile fixed-icon">
    <img class="la-logo" src="/assets/img/la-logo.png" alt="">
  </div>

  <article class="row main-wrapper">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-row-center hide-on-small">
      <div>
        <div class="connect-wallet-wrapper flex-column">
          <div class="pd-top-26">
            <span class="post-lbl-title">1</span>
          </div>
          <div class="wallet-text-container pd-top-8">
            <div class="pd-lr-12 text-start">
              <span class="label ter">Connect the wallet you want to link to your discord account.</span>
            </div>
          </div>
          <div class="mr-left-36 mr-top-22">
            <button class="btn-container main" *ngIf="!walletConnected" (click)="walletConnect()">Connect wallet</button>
            <button class="btn-container main" *ngIf="walletConnected" (click)="walletDisconnect()">Disconnect wallet</button>
          </div>
        </div>

        <div class="mr-top-24 connect-wallet-wrapper post flex-column">
          <div class="pd-top-26">
            <span class="post-lbl-title">2</span>
          </div>
          <div class="wallet-text-container pd-top-8">
            <div class="pd-lr-12 text-start">
              <span class="label ter">Post a transaction that will prove ownership of your wallet. It will cost a small gas fee.</span>
            </div>
          </div>
          <div class="mr-left-36 mr-top-18">
            <button class="btn-container main" (click)="postTransaction()">post a transaction</button>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4 text-center min-height">
      <div class="pd-top-60">
        <div class="nft-slide-container">
          <img src="/assets/img/NFT11.png"
               class="nft-images" alt="">
          <div class="mr-top-30 text-center">
            <span class="nft-lbl">NFT #011: Abalech, protector against darkness</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-12 col-sm-6 col-lg-4 mr-80 mr-ntop-90">
      <div class="text-center">
        <div>
          <img class="giving-img" src="../assets/img/LP-TheGiving.png">
        </div>
        <div class="pd-top-40">
          <div style="height: 60px">
            <button class="btn-container main">Collection</button>
          </div>
          <div>
            <button class="btn-container cta3">Read up</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 display-on-tab mr-top-80">
      <div class="connect-wallet-wrapper flex-column">
        <div class="pd-top-26">
          <span class="post-lbl-title">1</span>
        </div>
        <div class="wallet-text-container pd-top-8">
          <div class="pd-lr-12 text-start">
            <span class="label ter">Connect the wallet you want to link to your discord account.</span>
          </div>
        </div>
        <div class="mr-left-36 mr-top-22">
          <button class="btn-container main">Connect wallet</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 display-on-tab mr-bot-80">
      <div class="mr-top-24 connect-wallet-wrapper post flex-column">
        <div class="pd-top-26">
          <span class="post-lbl-title">2</span>
        </div>
        <div class="wallet-text-container pd-top-8">
          <div class="pd-lr-12 text-start">
            <span class="label ter">Post a transaction that will prove ownership of your wallet. It will cost a small gas fee.</span>
          </div>
        </div>
        <div class="mr-left-36 mr-top-18">
          <button class="btn-container main" (click)="postTransaction()">post a transaction</button>
        </div>
      </div>
    </div>
  </article>

  <div class="footer-container">
    <div>
      <img class="label1" src="/assets/img/LA-footer-label-1.png" alt="">
      <img class="label2" src="/assets/img/LA-footer-label-2.png" alt="">
    </div>
  </div>
</section>-->

<router-outlet></router-outlet>
